.feature-card {
    width: 300px;
    text-align: center;
}

.feature-card__img {
    height: 240px;
}

.feature-card__info {
    padding: 10px;
    background: #FCD712;
}

.feature-card__title {
    font-size: 20px;
    padding: 10px 0;
}

.feature-card p {
    text-align: left;
}

.feature-card button {
    padding: 12px 50px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
}

.feature-card__img img{
    width: 300px;
    height: 240px;
    object-fit: cover;
    overflow: clip;
}

