.usermenuBox {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
}
.usermenuBox1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    padding: 10px;
    height: 400px;
    width: 400px;
}
.profile-pic {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 250px;
    width: 250px;
    overflow: hidden; 
    border-radius: 50%;
}
.profile-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.user-name {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}
.username_email{
    font-size: small;
}
.username_email_button {
    all: unset;
    border: 1.5px solid rgb(237, 107, 211);
    border-radius: 8px;
    padding: 5px 7px;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(237, 107, 211);
    width: 70px;
}
.username_email_button:hover {
    background-color: rgb(237, 107, 211);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s;
}
.startSaving{
    all: unset;
    border: 1.5px solid rgb(237, 107, 211);
    border-radius: 8px;
    padding: 5px 7px;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(237, 107, 211);
    width: 70px;
}
.startSaving:hover{
    background-color: rgb(237, 107, 211);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s;
}
.sort-btn {
    all: unset;
    border: 1px solid rgb(237, 107, 211);
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 12px;
    color: rgb(237, 107, 211);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sort-btn:hover {
    background-color: rgb(237, 107, 211);
    color: rgb(255, 255, 255);
}


label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
  }

  label select {
    width: 150px;
    padding: 8px;
    border: 1px solid #e37eb8;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 2px;
    margin-left: 5px;
  }
  
  /* Style the dropdown options */
  label select option {
    background-color: #fff;
    color: #333;
    padding: 8px;
  }
  
  /* Style the arrow for the dropdown */
  label select::after {
    content: '\25BC'; /* Unicode character for a downward-pointing triangle */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the arrow from blocking clicks */
  }
.usermenuBox2_No_Lists{
    margin: auto;
    width: 50%;
    padding: 10px;
    white-space: nowrap;
}
.usermenuBox2 {
    display: flex;
    flex-direction: column;
    border-left: 2px solid rgb(242, 56, 174);
    width: 60%;
    margin: 10px 0px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 40px;
}