body {
    font-family: Arial, Helvetica, sans-serif;
}
.userListItem_box{
    border: 1px solid purple;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    width: 50%;
}
.userListItem_box_features{
    display: flex;
    flex-direction: row;
}
.userListItem_box_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.userListItem_box_name{
    margin-bottom: 2px;
    font-size: 20px;
}

.userListItem_box_features_img{
    margin-bottom: 5px;
    margin-left: 5px
}
.userListItem_box_features_items{
    margin-left: 5px;
}
.userListItem_box_features p {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
}
.date-created {
    padding-left: 0px;
    font-size: small;
    font-style: italic;
}

#userListItem_box_features_items_price{
    font-size: 20px;
}
.userList-container {
    border: 3px solid rgb(132, 23, 87);
    max-height: 300px;
    overflow-y: auto;
}
.saved-items ul {
    border: 1px solid rgb(52, 43, 184);
    margin-bottom: 20px;
    padding-left: 5px;
}

.saved-items li {
    list-style: none;
    padding: 10px 0;
    border: 1px solid pink;
}
.list-item {
    border: 1px solid rgb(213, 148, 205);
    display: flex;
}
.list-item li {
    border: 1px solid rgb(213, 148, 205);
    display: flex;
    margin-left: 10px;
}
.user-note {
    margin-bottom: 10px;
}
.user-note span {
    font-weight: 600;
}


