
.about-banner {
  background-image: url("../Images/navLogo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  display: flex;
  color: black;
  text-align: center;
  padding: 3%;
  flex-direction: row;
  justify-content: space-between;
}

.about-banner h1 {
  font-size: 3.5rem;
  margin: 0;
}

.about-banner img {
  max-width: 100px; 
  position: center;
  border-radius: 50%;
}

.about-background-box{
  background-color: #ffffff;
  opacity: 0.9;
  width: 400px

}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.team-member {
  text-align: center;
  margin: 20px;
  max-width: 300px;
  padding-top: 50px;
}

.team-member img {
  width: 100%;
  border-radius: 50%;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2rem;
}

.social-links a:hover {
  text-decoration: underline;
}
