/* Default styles for larger screens */
.header {
  display: flex;
  align-items: center;
}

.logo-container {
  flex: 0 0 auto;
  margin-right: 50%;
}
/* Style the logo */
.logo {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.links {
  display: flex;
  gap: 80px;
  font-size: 20px;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:hover {
  text-decoration: underline;
}


.centered {
  text-align: left;
}
.no-margin {
  margin: 0;
}

.outlined-text {
  font-size: 170px;
  color: transparent;
  text-align: left;
  padding-left: 5%;
  margin: 0;
  -webkit-text-stroke: 2px rgb(249, 66, 176);
  font-family: "Arial", sans-serif;
}
.btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 10%;
}

#MainText {
  font-family: "Courgette", cursive;
  font-family: "DM Serif Display", serif;
  line-height: 1.5;
  text-align: justify;
  color:  #ff69b4;
}

/* Responsive styles for medium-sized screens (e.g., tablets) */
@media (max-width: 768px) {
  .big-pink,
  .outlined-text {
    font-size: 120px;
  }
  .info-box {
    width: 100%;
  }
}

/* Responsive styles for smaller screens (e.g., mobile devices) */
@media (max-width: 576px) {
  .big-pink,
  .outlined-text {
    font-size: 80px;
  }
  .info-box {
    width: 100%;
  }
  .Landing-buttons {
    justify-content: center; /* Center-align buttons on smaller screens */
    flex-direction: column; /* Stack buttons vertically */
    margin-top: 10px; /* Adjust spacing between buttons */
  }
  .register-button,
  .login-button {
    padding: 10px 30px;
    margin: 10px 0;
  }
  .login {
    background-color: black;
    color: white;
  }
}
