body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-wrapper {
    background-repeat:no-repeat;
    min-height: 80vh;
    max-height: 80vh;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-wrapper::before {
    content: "";
    background: url('../Images/navLogo.png') no-repeat right / contain;
    background-size: 50%; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    opacity: 0.7; 
    z-index: -1; 
}
.new-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 30%;
    margin-top: 20px;
    margin-right: 60%;
    font-family: sans-serif;
    /* border: 1.5px solid rgb(237, 107, 211); */
    z-index: 1;
    background-color: white;
}
.new-list label {
    font-size: 20px;
}
.new-list input {
    margin-top: 4px;
}
.new-list input[type="text"],
.new-list textarea {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 16px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
.new-list .list-products label {
    margin-bottom: 2px;
    margin-top: 15px;
}
.new-list .list-products {
    display: flex;
    flex-direction: column;
    /* border: 1px solid pink; */
}
.new-list .list-products-box {
    max-height: 100%;
    width: 100%;
    border: .5px solid rgb(146, 146, 146);
    border-radius: 8px;
    margin-bottom: 10px;
    max-height: 190px;
    overflow-y: auto;
}
.list-products input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: .1px solid rgb(146, 146, 146);
    margin: 0px;  
}
.new-list .list-products-box > div:last-child input[type="text"] {
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.new-list .note-section {
    margin-top: 15px;
}
.product-btn {
    text-align: right;
}
.list-button {
    all: unset;
    border: 1.5px solid rgb(237, 107, 211);
    border-radius: 8px;
    padding: 5px 7px;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(237, 107, 211);
    width: 70px;
}
.list-button:hover {
    background-color: rgb(237, 107, 211);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s;
}
.list-button a {
    color: rgb(237, 107, 211);
}
.list-button a:link {
    text-decoration: none;
}
.list-button a:hover {
    color: rgb(255, 255, 255);
}
.new-list .space-out-btns {
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px;  */
}


