@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper{
  position: relative;
  max-width: 430px;
  width: 50%;
  margin: auto;
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 550;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #FCF412;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
.wrapper form .input-box input{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.wrapper form .input-box .button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #FCF412;
  cursor:crosshair;
  box-sizing: border-box;
}

.wrapper form .policy{
  display: flex;
  align-items: center;
}

.wrapper form h3{
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.wrapper .input-box.button input:hover{
  background: #FCD712;
}
.wrapper .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
.wrapper h3 a{
  color: #FFBD58;
  text-decoration: none;
}
.wrapper h3 a:hover{
  text-decoration: underline;
}