.result-page{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .results-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .results-container {
        grid-template-columns: 1fr;
    }
}

.results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.store-container {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 560px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.store-logo {
    /* border: 0.5px solid black; */
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    display: flex;
    justify-content: center;
    /* width: 100%; */
    overflow: hidden;
    /* padding: 10px 0px; */
    /* background-color: rgb(255, 152, 216);
    color: rgb(2, 1, 1); */
}
.store-logo img {
    padding: 5px 0px 20px;
    max-width: 100%;
    height: 40px;
    margin-bottom: 30px
}

.store-results {
    /* border: 5px solid rgb(195, 255, 0); */
    overflow-y: auto;
    border-top: 1px solid black;
    padding-bottom: 150px;
    margin-bottom: 50px;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(255, 9, 206);
}

.item {
    /* border: 2px solid rgb(0, 255, 225); */
    height: 180px;
    width: 120px;
    padding-bottom: 10px
}
.item ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.item ul li {
    list-style: none;
    /* border: 2px solid rgb(255, 0, 153); */
}

.item ul li:first-child {
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.item ul li:last-child {
    padding-left: 2px;
    width: 110px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(249, 243, 236);
}

.item ul li p {
    font-size: 10px;
    font-weight: 400;
}

.item img {
    width:100%;
}

.item-price {
    margin: 0px 10px;
}

.empty-results {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.empty-results img {
    width: 300px;
    opacity: 0.7;
}

.total {
    /* border: 2px solid rgb(68, 0, 255); */
    margin-left: 0px;
}


.best-deal-label {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(249, 218, 43);
    border-radius: 8px;
    padding: 0px 10px;
}

.store-link a {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: rgb(255, 9, 206); /* Green background color */
    color: white; /* White text color */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.store-link a:hover {
    background-color: rgb(147, 53, 128); /* Darker green on hover */
}
