.search-page-container {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    display: flex;
    justify-content: left;
    border: 5px solid brown;
    height: 70%;

}

.user-list-container {
    border: 3px solid rgb(255, 9, 206);
    margin-right: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.username {
    /* border: 3px solid rgb(0, 255, 123); */
    
}
.item-search {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgba(14, 22, 16, 0.647);
    border-radius: 10px;
    margin: 20px 0px 10px;
}

#item-search {
    border: none;
}

#item-search::placeholder {
    font-style: italic;
}

.user-list {
    border: 1px solid rgba(14, 22, 16, 0.647);
    border-radius: 10px;
    padding: 90px 0px;
    margin-bottom: 10px;
}

.zip-search {
    /* border: 3px solid rgba(234, 0, 255, 0.647); */
    padding-top: 30px;
    
}

.buttons {
    display: flex;
    justify-content: space-between;
    border: 3px solid rgba(172, 29, 192, 0.647);
}
.buttons button {
    border: 3px solid rgba(172, 29, 192, 0.647);
}
.deals-container {
    border: 3px solid rgb(0, 234, 255);
    width: 50%;
    padding: 0px 30px;
}

.options-container {
    border: 1px solid rgba(14, 22, 16, 0.647);
    border-radius: 10px;
    padding-left: 5px;
}