.result-page{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .results-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .results-container {
        grid-template-columns: 1fr;
    }
}

.results-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
}

.store-container {
    border: .5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 250px;
    height: 560px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.store-logo {
    display: flex;
    align-self:flex-start;
    justify-content: center;
    padding-left: 10px;
    padding-top: 10px;
}
.store-logo img {
    padding: 5px 0px 20px;
    max-width: 100%;
    height: 40px;
}

.store-logo p {
    padding-left: 10px;
}

.store-results {
    /* border: 5px solid rgb(195, 255, 0); */
    overflow-y: auto;
    border-top: .5px solid black;
    padding-bottom: 150px;
    margin-bottom: 50px;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border-bottom: 1px solid rgb(255, 9, 206); */
    border-bottom: .5px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 10px;
    max-height: 60px; /* Adjust this value as needed */
}

.item-container img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.item-container div {
    margin-left: 20px;
}

.item-price {
    font-size: 18px;
    font-weight: 600;
}


.empty-results {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.empty-results img {
    width: 300px;
    opacity: 0.7;
}

.total {
    /* border: 2px solid rgb(68, 0, 255); */
    margin-left: 10px;
}

.total p {
    margin-bottom: 10px;
}


.best-deal-label {
    margin-left: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(249, 218, 43);
    border-radius: 8px;
    padding: 0px 10px;
}

.store-link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top: 1px solid rgb(237, 107, 211);
    width: 100%;
    align-self: center;
}
.store-link a {
    text-decoration: none;
    border: 1.5px solid rgb(237, 107, 211);
    padding: 5px 7px;
    font-size: 12px;
    text-align: center;
    color: rgb(237, 107, 211);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.store-link a:hover {
    background-color:  rgb(237, 107, 211); /* Darker green on hover */
    color: white;
}
