
.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.search-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
  }

.background-img-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1; 
    padding-left: 50px;
}

.background-img-container img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.search-bar {
    padding-top: 60px;
}

.search-bar-bar {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    border-radius: 20px;
    padding: 5px 20px;
}

.search-button {
    background: transparent;
    border: none;
    
}

.message {
    padding-top: 300px;
    display: flex;
    align-items: center;
}

.message ul li {
    list-style: none;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
}