.search-page-container {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    display: flex;
    justify-content: left;
    border: 5px solid brown;
    height: 70%;

}

.user-list-container {
    border: 3px solid rgb(255, 9, 206);
    margin-right: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.username {
    /* border: 3px solid rgb(0, 255, 123); */
    
}
.item-search {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    border: 1px solid rgba(14, 22, 16, 0.647);
    border-radius: 10px;
    margin: 20px 0px 10px;
}
.item-search .list-icon img {
    width: 25px;
}

.item-search .list-icon:hover img {
    cursor: pointer;
}

#item-search {
    border: none;
}

#item-search::placeholder {
    font-style: italic;
}

.user-box {
    position: relative;
    border: 1px solid rgba(14, 22, 16, 0.647);
    border-radius: 10px;
    border-bottom: 1px solid rgb(255, 9, 206);
    height: 500px;
    overflow: auto;
}

.user-list {
    display: flex;
    justify-content: center;
    /* border: 1px solid rgba(14, 22, 16, 0.647); */
    border-radius: 10px;
    padding: 0px 0px 10px;
    margin-bottom: 10px;
}

.user-list ul {
    list-style: none;
    margin-top: 0px;
    margin-left: -40px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    width: 100%;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(198, 63, 164, 0.647);
    padding: 10px;
}

.item .list-icon img {
    max-width: 25px;
}

.zip-search {
    /* border: 3px solid rgba(234, 0, 255, 0.647); */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.zip-search span {
    /* border: 3px solid rgba(234, 0, 255, 0.647); */
    margin-left: 4px;
}

.buttons {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(237, 107, 211);
    margin-top: 20px;
    width: 100%;
}

.buttons button {
    all: unset;
    border: 1.5px solid rgb(237, 107, 211);
    padding: 5px 7px;
    font-size: 12px;
    text-align: center;
    color: rgb(237, 107, 211);
    width: 100%;
}

.buttons button:hover {
    background-color: rgb(237, 107, 211);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s;
}

/* side note: .btn-1 (alone) class styles were not being reflected on the webpage. Therefore, I had to increase the specificity for the .btn-1. See below  */
.buttons button.btn-1{
    border-right: 1px solid rgb(255, 9, 206);
    border-radius: 0px 0px 0px 10px;
}

.buttons button.btn-2{
    border-left: 1px solid rgb(255, 9, 206);
    border-radius: 0px 0px 10px 0px;
}


.deals-container {
    border: 3px solid rgb(0, 234, 255);
    width: 50%;
    padding: 0px 30px;
}
