.footer {
    background-color: #ff69b4;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer__col {
    width: 33%;
    text-align: center;;
}