.navbar {
  display: flex;
  margin-top: 2px;
  border-bottom: 1px solid black;
}

.logo-div {
  flex: 1;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.nav-title {
  font-size: 24px;
  font-family: "Arial", sans-serif;
  padding-left: 1%;
  align-items: center;
}

.nav-logo {
  max-width: 50px;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.links-tab{
  align-items: center;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  margin-right: 20px;
}

.navbar-links a:link {
  color: red;
}

.navbar-links a:visited {
  color: black;
}

.navbar-links a:hover {
  color: #FCD712;
}

.navbar-links a:active {
  color: #FCD712;
}
